<div class="footer">
     <div class="links">
          <a href="https://github.com/yunusolcar"><i class="fa fa-github"></i></a>
     </div>
</div>
<script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
</body>

</html>